@font-face {
    font-family: "iconfont";
    src: url('https://at.alicdn.com/t/font_3158113_67mwrs278lo.ttf?t=1644394293862') format('truetype');
}

@font-face {
    font-family: "butter sans Rounded";
    src: url('/font/buttersans-Rounded.otf') format('truetype');
}