@font-face {
    font-family: "iconfont";
    src: url('https://at.alicdn.com/t/font_3158113_hetzf3zctup.ttf?t=1650120135000') format('truetype');
}

@font-face {
    font-family: "butter sans Rounded";
    src: url('/font/buttersans-Rounded.otf') format('truetype');
}